body,html{
    height:100%;

}
#main{
    height: 70%;
    width: 70%;
    margin-left: 15%;
}
aside{
    border:3px black solid;
    width: 15%;
    height: 50%;
    float:left;
}
article{
    border:3px black solid;
    height: 100%;
}